<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.danch.kanarand">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NumberPage"
            android:label="@string/NumberPage">
        </activity>
        <activity android:name=".Kana"
            android:label="@string/KanaPage">
        </activity>
        <activity android:name=".KanaCh"
            android:label="KanaCh">
        </activity>
        <activity android:name=".Time"
            android:label="@string/Time">
        </activity>
        <activity android:name=".Calendar"
            android:label="@string/Calendar">
        </activity>
        <activity android:name=".Numbers"
            android:label="@string/NumberPage">
        </activity>
        <activity android:name=".Word"
            android:label="Word">
        </activity>

    </application>

</manifest>